# EMOKHOR Daniel
### Matriculation number- 21120612457

# Question 1

### INPUT Customer's Name 
### INPUT Customer's Order
### INPUT Quantity
### COMPUTE add up the total charge
### IF the customer's order is less than 10,000 naira
### COMPUTE 10% of the charge
### IF the customer's order is above 10,000 but less than 15,000
### COMPUTE 15% of the charge
### IF the customer's order is above 15,000
### COMPUTE 25% of the order charge
## END

In [15]:
#Question1b 
print ('Welcome to PAU online cafteria')
print ('This is the menu for today: ')
a = print ('Click a for Fried Rice & Chicken - #6,000')
b = print ('Click b for Poundo Yam/ Edinkaiko Soup- #5,500')
c = print ('Click c for Amala & Ewedu soup- #4,500')
d = print ('Click d for Eba & Egusi soup- #4,000')
e = print ('Click e for White rice and stew- #4,500')
r = 6000
s = 5500
t = 4500
u = 4000
v = 4500

k = 6000 - 10/100 * r 
l = 5500 - 10/100 * s 
m = 4500 - 10/100 * t 
n = 4000 - 10/100 * u 
o = 4500 - 10/100 * v


j = input('Please what would you liked to be served? ')
if j == 'a':
     print('Your bill is ', k, 'and your order is on the way')
        
elif j == 'b':
    print('Your bill is ', l, 'and your order is on the way')
    
elif j == 'c':
    print('Your bill is ', m, 'and your order is on the way')
elif j == 'd':
    print('Your bill is ', n,'and your order is on the way')
elif j == 'e':
    print('Your bill is ', o, 'and your order is on the way')
else:
    print('Please select a valid option')

Welcome to PAU online cafteria
This is the menu for today:
Click a for Fried Rice & Chicken - #6,000
Click b for Poundo Yam/ Edinkaiko Soup- #5,500
Click c for Amala & Ewedu soup- #4,500
Click d for Eba & Egusi soup- #4,000
Click e for White rice and stew- #4,500
Please what would you liked to be served? a
Your bill is  5400.0 and your order is on the way

# Question 2
## INPUT Employee name
## INPUT Employee years 
## INPUT Employee assessment record
## INPUT Employee points
## IF Employee assesment record is less than 40.0 the employee has 1 point. 
## IF Employee assesment record is less than 50.0 and greater than 39.0 the employee has 2 point.
## IF Employee assesment record is less than 60.0 and greater than 49.0 the employee has 3 point.
## IF Employee assesment record is less than 70.0 and greater than 59.0 the employee has 4 point.
## IF the assesment record is greater than 69.0 employee has 5 point.
## Multiply each employees assessment record with the point divided by total number of employees
## END

In [28]:
#Question2b
print('Employee_name  Years    Assessment_Records')
print ('Alegbe Luis     5                  44.5 ')
print('Anna Mabuta     10                  67.4 ')
print('Karim Kafi      15                  23.8 ')
print('Esther Moses     8                  71.1 ')
print('Jonah Longe      4                  50.3 ')
print('Coins Fagbemi   20                  63.3 ')
d = 44.5
e = 67.4
f = 23.8
g = 71.1
h = 50.3
i = 63.3

Employee_name  Years    Assessment_Records
Alegbe Luis     5                  44.5
Anna Mabuta     10                  67.4
Karim Kafi      15                  23.8
Esther Moses     8                  71.1
Jonah Longe      4                  50.3
Coins Fagbemi   20                  63.3